:root {
  --el-color-primary: #1b77c2 !important;
}
.job-detail-outer .ck-content ul li{
  list-style: inside !important;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}
.el-select {
  width: 100% !important;
}
.el-form--inline .el-form-item {
  margin: 0.4rem !important;
}
.el-dialog {
  border-radius: 20px !important;
  margin-top: 2vh !important;
}
@media (pointer: none), (pointer: coarse) {
  .el-dialog {
    width: 100% !important;
  }
}
.float-right {
  float: right;
}
.el-dialog__header {
  border-bottom: #dcdfe6 1px solid !important;
  margin-right: 0px !important;
}
.el-dialog__body {
  padding: 1rem !important;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: none !important;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: "*";
  color: var(--el-color-danger);
  margin-left: 4px;
}
.el-form--inline.el-form--label-top {
  display: inline !important;
}
.el-card {
  border-radius: 20px !important;
}
.el-card__header > span {
  font-size: large;
  font-weight: bold;
}
.el-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem !important;
}
.el-tabs__header {
  margin: 0px !important;
}
.el-card__body {
  padding: 0px !important;
}
.el-pagination {
  padding: 20px !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border-top: none !important;
  border-radius: 0px !important;
}
.error-feedback {
  color: red;
}
/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */
.slimScrollBar {
  /* width: 0px !important; */
  margin-top: 20%;
  background: white !important;
}
.el-upload-dragger {
  width: 47vw !important;
}
.highcharts-credits {
  display: none !important;
}
li {
  cursor: pointer;
}
.el-table .cell {
  word-break: normal !important;
}
p, td{
  word-break: break-word !important;
}
